<section class="catalog-section container" id="catalog">
  <!-- <div class="container"> -->
  <h2 class="catalog-title">Catalog</h2>
  <ul class="catalog-menu">
    <li class="catalog-list">
      <div class="catalog-wrap">
        <picture>
          <source
            srcset="
              ./img/catalog/catalog-desk-1-1x.png 1x,
              ./img/catalog/catalog-desk-1-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-tab-1-1x.png 1x,
              ./img/catalog/catalog-tab-1-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-mob-1-1x.png 1x,
              ./img/catalog/catalog-mob-1-2x.png 2x
            "
            media="(min-width: 375px)"
          />
          <img
            src="./img/catalog/catalog-desk-1-1x.png"
            alt="Garmin Fenix"
            width="304"
            height="312"
            class="catalog-menu-img"
          />
        </picture>

        <h3 class="catalog-item">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-price">€500</p>
      </div>
    </li>
    <li class="catalog-list">
      <div class="catalog-wrap">
        <picture>
          <source
            srcset="
              ./img/catalog/catalog-desk-2-1x.png 1x,
              ./img/catalog/catalog-desk-2-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-tab-2-1x.png 1x,
              ./img/catalog/catalog-tab-2-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-mob-2-1x.png 1x,
              ./img/catalog/catalog-mob-2-2x.png 2x
            "
            media="(min-width: 375px)"
          />
          <img
            src="./img/catalog/catalog-mob-2-1x.png"
            alt="Garmin Marq"
            width="304"
            height="312"
            class="catalog-menu-img"
          />
        </picture>

        <h3 class="catalog-item">Garmin Marq Athlete</h3>
        <p class="catalog-price">€450</p>
      </div>
    </li>
    <li class="catalog-list">
      <div class="catalog-wrap">
        <picture>
          <source
            srcset="
              ./img/catalog/catalog-desk-3-1x.png 1x,
              ./img/catalog/catalog-desk-3-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-tab-3-1x.png 1x,
              ./img/catalog/catalog-tab-3-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-mob-3-1x.png 1x,
              ./img/catalog/catalog-mob-3-2x.png 2x
            "
            media="(min-width: 375px)"
          />
          <img
            src="./img/catalog/catalog-mob-3-1x.png"
            alt="Garmin Descent"
            width="304"
            height="312"
            class="catalog-menu-img"
          />
        </picture>

        <h3 class="catalog-item">Garmin Descent MK1</h3>
        <p class="catalog-price">€680</p>
      </div>
    </li>
    <li class="catalog-list">
      <div class="catalog-wrap">
        <picture>
          <source
            srcset="
              ./img/catalog/catalog-desk4-1x.png  1x,
              ./img/catalog/catalog-desk-4-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-tab-4-1x.png 1x,
              ./img/catalog/catalog-tab-4-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-mob-4-1x.png 1x,
              ./img/catalog/catalog-mob-4-2x.png 2x
            "
            media="(min-width: 375px)"
          />
          <img
            src="./img/catalog/catalog-desk4-1x.png"
            alt="Garmin Delta"
            width="304"
            height="312"
            class="catalog-menu-img"
          />
        </picture>

        <h3 class="catalog-item">Garmin D2 Delta PX</h3>
        <p class="catalog-price">€380</p>
      </div>
    </li>
    <li class="catalog-list current">
      <div class="catalog-wrap">
        <picture>
          <source
            srcset="
              ./img/catalog/catalog-desk-5-1x.png 1x,
              ./img/catalog/catalog-desk-5-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-tab-5-1x.png 1x,
              ./img/catalog/catalog-tab-5-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/catalog/catalog-tab-5-1x.png"
            alt="Garmin Fenix Pro"
            width="304"
            height="312"
            class="catalog-menu-img"
          />
        </picture>

        <h3 class="catalog-item">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-price">€400</p>
      </div>
    </li>
    <li class="catalog-list current">
      <div class="catalog-wrap">
        <picture>
          <source
            srcset="
              ./img/catalog/catalog-desk-6-1x.png 1x,
              ./img/catalog/catalog-desk-6-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-tab-6-1x.png 1x,
              ./img/catalog/catalog-tab-6-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/catalog/catalog-tab-6-1x.png"
            alt="Garmin Tube"
            width="304"
            height="312"
            class="catalog-menu-img"
          />
        </picture>

        <h3 class="catalog-item">Tube Watch S42 Date Steel With Black Case</h3>
        <p class="catalog-price">€395</p>
      </div>
    </li>
  </ul>
  <a class="button-catalog" href="#catalog">Show more</a>
  <!-- </div> -->
</section>
