<section class="hero" id="home">
  <div class="container hero-container-welcome">
    <!-- <div class="hero-container"> -->
    <div class="hero-container-text">
      <h1 class="hero-title">
        Welcome to our
        <span class="hero-title-collection">collection</span> of premium watches
      </h1>
      <p class="hero-item-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-list-scroll">
      <div class="foto-item">
        <picture class="hero-img">
          <source
            media="(min-width: 1280px)"
            srcset="./img/hero/foto-desk-vict-1x.jpg 1x, ./img/hero/foto-desk-vict-2x.jpg 1x 2x"
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero/foto-tab-vict-1x.jpg 1x,
              ./img/hero/foto-tab-vict-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero/foto-mob-vict-1x.jpg 1x,
              ./img/hero/foto-mob-vict-2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/hero/foto-mob-vict-1x.jpg"
            alt="foto-victoria"
            class="hero-foto-img"
          />
        </picture>
        <picture class="hero-img">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/hero/foto-desk-jhon-1x.jpg 1x,
              ./img/hero/foto-desk-jhon-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero/foto-tab-jhon-1x.jpg 1x,
              ./img/hero/foto-tab-jhon-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero/foto-mob-jhon-1x.jpg 1x,
              ./img/hero/foto-mob-jhon-2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/hero/foto-desk-jhon-1x.jpg"
            alt="foto-john"
            class="hero-foto-img"
          />
        </picture>
        <picture class="hero-img">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/hero/foto-desk-anast-1x.jpg 1x,
              ./img/hero/foto-desk-anast-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero/foto-tab-anast-1x.jpg 1x,
              ./img/hero/foto-tab-anast-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero/foto-mob-anast-1x.jpg 1x,
              ./img/hero/foto-mob-anast-2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/hero/foto-mob-anast-1x.jpg"
            alt="foto-anastasia"
            class="hero-foto-img"
          />
        </picture>
      </div>
      <a class="hero-scroll-text" href="#footer">Scroll down</a>
    </div>

    <!-- </div> -->
    <img
      class="hero-img-desk"
      src="./img/hero/hero-desk-1x.jpg"
      alt="Rectangle"
      width="1150"
      height="500"
    />
  </div>
</section>
