<section class="hero" id="hero">
  <div class="hero-container-welcome">
    <div class="hero-container-text">
      <h1 class="hero-title">
        Welcome to our <span class="hero-title-collection">collection</span> of
        premium watches
      </h1>
      <p class="hero-item-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-list-scroll">
      <ul class="hero-list">
        <li class="hero-item">
          <img
            src="./img/hero/foto-victoria.jpg"
            alt="foto-victoria"
            width="44"
            height="44"
          />
        </li>
        <li class="hero-item">
          <img
            src="./img/hero/foto-john.jpg"
            alt="foto-john"
            width="44"
            height="44"
          />
        </li>
        <li class="hero-item">
          <img
            src="./img/hero/foto-anastasia.jpg"
            alt="foto-anastasia"
            width="44"
            height="44"
          />
        </li>
      </ul>
      <a class="hero-scroll-text" href="#footer">Scroll down</a>
    </div>
    <picture>
      <!-- Desktop screen -->

      <source
        media="(min-width: 1158px)"
        srcset="./img/hero/hero-desk-1x.png 1x, ./img/hero/hero-desk-2x.png 2x"
        type="image/png"
      />
      <!-- Tablet screen -->

      <source
        media="(min-width: 768px)"
        srcset="./img/hero/hero-tab-1x.png 1x, ./img/hero/hero-tab-2x.png 2x"
        type="image/png"
      />
      <!-- Mobile screen -->

      <source
        media="(max-width: 767px)"
        srcset="./img/hero/hero-mob-1x.png 1x, ./img/hero/hero-mob-2x.png 2x"
        type="image/png"
      />
      <img
        class="hero-img"
        src="./img/hero/hero-desk-1x.png"
        alt="src/img/hero/hero-desk-1x.png"
        width="1150"
        loading="lazy"
      />
    </picture>
  </div>
</section>
