<section class="hero">
  <div class="hero-blok-one">
      <div class="hero-container-welcome">
        <div class="hero-container-text">
          <h1 class="hero-title">Welcome to our <span class="hero-title-collection" style="color: #3350e9">collection</span> of premium watches</h1>
          <p class="hero-item-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
         <div class="hero-list-scroll">
            <ul class="hero-list">
              <li class="hero-item">
                <img class="hero-item-victoria" src="../img/hero/foto-victoria.jpg" alt="foto-victoria" width="44" height="44"/></li>
              <li class="hero-item">
                <img class="hero-item-john" src="../img/hero/foto-john.jpg" alt="foto-john" width="44" height="44"/></li>
              <li class="hero-item">
                <img class="hero-item-anastasia" src="../img/hero/foto-anastasia.jpg" alt="foto-anastasia" width="44" height="44"/></li>
            </ul>
            <p class="hero-scroll-text">Scroll down</p>
         </div>
  </div>
        <img class="hero-img-desk" src="../img/hero/hero-mob-1x.png" alt="Rectangle" width="1150" height="500" />
    </div>
</section>