<section class="sale">
<div class="container-sale">

    <h2 class="sale-title">Sale</h2>

    <div class="sale-gallery">
        <div class="small-images">

            <picture>
            
 <source srcset="./img/sale-img-mob1-1x.png 1x, ./img/sale-img-mob1-2x.png 2x" media="(min-width: 320px)">
 <source srcset="./img/sale-img-tab1-1x.png 1x, ./img/sale-img-tab1-2x.png 2x" media="(min-width: 768px)">
 <source srcset="./img/sale-img-desc1-1x.png 1x, ./img/sale-img-desc1-2x.png 2x" media="(min-width: 1158px)">
            
                <img src="/img/sale-img-mob1-1x.png" alt="Image 1" class="small-image">

            </picture>

            <picture>
            
                <source srcset="./img/sale-img-mob2-1x.png 1x, ./img/sale-img-mob2-2x.png 2x" media="(min-width: 320px)">
                <source srcset="./img/sale-img-tab2-1x.png 1x, ./img/sale-img-tab2-2x.png 2x" media="(min-width: 768px)">
                <source srcset="./img/sale-img-desc2-1x.png 1x, ./img/sale-img-desc2-2x.png 2x" media="(min-width: 1158px)">
            
                <img src="/img/sale-img-mob2-1x.png" alt="Image 2" class="small-image">
            
            </picture>

        <picture>
        
            <source srcset="./img/sale-img-mob3-1x.png 1x, ./img/sale-img-mob3-2x.png 2x" media="(min-width: 320px)">
            <source srcset="./img/sale-img-tab3-1x.png 1x, ./img/sale-img-tab3-2x.png 2x" media="(min-width: 768px)">
            <source srcset="./img/sale-img-desc3-1x.png 1x, ./img/sale-img-desc3-2x.png 2x" media="(min-width: 1158px)">
        
            <img src="/img/sale-img-mob3-1x.png" alt="Image 3" class="small-image">
        
        </picture>
            
<picture>

    <source srcset="./img/sale-img-mob4-1x.png 1x, ./img/sale-img-mob4-2x.png 2x" media="(min-width: 320px)">
    <source srcset="./img/sale-img-tab4-1x.png 1x, ./img/sale-img-tab4-2x.png 2x" media="(min-width: 768px)">
    <source srcset="./img/sale-img-desc4-1x.png 1x, ./img/sale-img-desc4-2x.png 2x" media="(min-width: 1158px)">

    <img src="/img/sale-img-mob4-1x.png" alt="Image 4" class="small-image">

</picture>
           

        </div>

        <div class="large-images">

            <picture>
            
                <source srcset="./img/sale-img-mob5-1x.png 1x, ./img/sale-img-mob5-2x.png 2x" media="(min-width: 320px)">
                <source srcset="./img/sale-img-tab5-1x.png 1x, ./img/sale-img-tab5-2x.png 2x" media="(min-width: 768px)">
                <source srcset="./img/sale-img-desc5-1x.png 1x, ./img/sale-img-desc5-2x.png 2x" media="(min-width: 1158px)">
            
                <img src="/img/sale-img-mob5-1x.png" alt="Image 5" class="large-image">
            
            </picture>

           

        </div>
    </div>

    <div class="sale-description">

        <h3 class="sale-description-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>

        <p class="sale-article-text">Product tag: 706587</p>

        <ul class="sale-price">

            <li class="sale-price-list-new">€1500</li>
            <li class="sale-price-list-old">€3000</li>

        </ul>

        <p class="sale-description-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features
        to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED
        touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.</p>

        <ul class="sale-description-list">

            <li class="sale-description-item">Fused carbon fiber</li>
            <li class="sale-description-item">Grade-5 Titanuim</li>
            <li class="sale-description-item">Athlete</li>
            <li class="sale-description-item">Golfer</li>
            <li class="sale-description-item">Commander</li>
            <li class="sale-description-item">Adventurer</li>

        </ul>

    </div>
</div>

</section>