/* -------mobile-------- */
.section-about {
  /* height: 912px; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;

  padding-bottom: 60px;
}

.container-about {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 40px 20px;
  /* height: 446px; */
  margin-bottom: 20px;
}

.about-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}

.about-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 20px;
}

.about-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 40px;
}

.about-btn {
  display: flex;
  width: 160px;
  height: 48px;
  border-radius: 16px;
  background: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fbfbfb;
}

.about-btn:hover,
.about-btn:focus {
  background-color: #1f3cd4;
}

.about-img {
  width: 335px;
  height: 446px;
  background: rgba(12, 12, 12, 0.2), url('path_to_image');
}

/* ---------tablet--------- */
@media screen and (min-width: 768px) {
  .section-about {
    /* height: 1064px; */
    padding-bottom: 80px;
  }

  .container-about {
    padding: 80px 60px 188px 60px;
    border-radius: 50px;
    height: 512px;
    padding-bottom: 40px;
  }

  .about-title {
    font-size: 48px;
    line-height: 0.92;
  }

  .about-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .about-subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 60px;
  }

  .about-img {
    border-radius: 50px;
    width: 704px;
    height: 512px;
  }
}

/* ---------desctop-------- */
@media screen and (min-width: 1280px) {
  .section-about {
    /* height: 532px; */
    /* margin: 100px 0; */
    padding-bottom: 100px;
  }
  .container-about {
    width: 580px;
    height: 532px;
    /* padding: 80px 60px 168px 60px; */
  }
  .about-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
  .about-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .about-subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
  .about-img {
    width: 530px;
    height: 532px;
  }
  .about-container-box {
    flex-direction: row;
    display: inline-flex;
    gap: 40px;
    align-items: flex-start;
  }
}
