html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  background: #fbfbfb;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  display: none !important;
  visibility: hidden !important;
}
.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.no-scroll {
  overflow: hidden;
}
button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  background: none;
}
/* .container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
} */
.container {
  max-width: 375px; 
  padding: 0 20px; 
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
     max-width: 768px; 
     padding: 0 32px;} 
  }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px; 
      padding: 0 65px;}
    }        
