.catalog-section {
  padding-bottom: 60px;
}
.catalog-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;

  margin-bottom: 24px;
}

.catalog-menu {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.catalog-list {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 335px;
  min-height: 364px;
  background: #f3f3f3;
}

.current {
  display: none;
}

.catalog-wrap {
  padding: 24px 28px;
}

.catalog-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.catalog-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.button-catalog {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .catalog-section {
    padding-bottom: 80px;
  }
  .catalog-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px 16px;
  }

  .catalog-menu {
    margin-bottom: 0;
    flex-basis: calc((100% - 32px) / 3);
  }

  .catalog-list {
    max-width: 344px;
  }

  .catalog-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }

  .catalog-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.92;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }

  .current {
    display: inherit;
  }

  .button-catalog {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-section {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .catalog-menu {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px 23px;
  }

  .catalog-menu {
    flex-basis: calc((100% - 23px) / 2);
  }

  .catalog-list {
    max-width: 368px;
  }
}
