/* ________________________SECTION CONTACT US_______________________ */
/* _____________________________GENERICO___________________________ */
/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */
::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
}
/* ___________________________END GENERICO________________________ */
/* __________________________BASE-MOBILE_________________________ */
.contact {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  width: 100%;
}
.contact-row-container {
  height: 100%;
  margin: 0;
  width: 100%;
}
.contact-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-align: left;
  margin-bottom: 24px;
  width: 100%;
}
.contact-form-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  padding: 48px 28px;
  margin-bottom: 20px;
}
.contact-form-title {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}
.contact-order-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  height: 100%;
}
.contact-order-form-container {
  width: 100%;
  height: 42px;
  padding: 0;
  margin: 0 auto;
  border: 0;
}
.contact-form-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  background-color: transparent;
  outline: transparent;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 14px;
  padding-bottom: 12px;
  padding-left: 14px;
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
  border: 1px solid #3350e9;
}
.contact-textarea-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  border: 0;
}
.contact-form-textarea {
  border: 1px solid rgba(12, 12, 12, 0.15);
  background-color: transparent;
  outline: transparent;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 14px;
  padding-bottom: 12px;
  padding-left: 14px;
  width: 100%;
  height: 100%;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-textarea:focus {
  border: 1px solid #3350e9;
}
.contact-submit-button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: auto;
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 100%;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-submit-button:hover,
.contact-submit-button:focus {
  background-color: #1f3cd4;
}
.contact-image-container {
  height: 100%;
  margin: 0;
}
.contact-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
/* ____________________________END BASE-MOBILE___________________________ */
/* ________________________________TABLET_______________________________ */

@media screen and (min-width: 768px) {
  .contact {
    padding-bottom: 80px;
  }
  .contact-title {
    font-size: 48px;
    line-height: 0.9;
    margin-bottom: 40px;
  }
  .contact-form-container {
    padding: 50px 122px;
    margin-bottom: 40px;
    border-radius: 50px;
  }
  .contact-form-title {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 32px;
  }
  .contact-order-form-container {
    height: 52px;
  }
  .contact-form-input {
    padding-top: 16px;
    padding-right: 18px;
    padding-bottom: 16px;
    padding-left: 18px;
    font-size: 16px;
    line-height: 1.25;
  }
  .contact-form-textarea {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }
  .contact-submit-button {
    padding: 17px 63px;
    width: 160px;
  }
  .contact-image-container {
    height: 100%;
    margin: 0;
  }
  .contact-image {
    border-radius: 50px;
  }
}
/* ______________________________END TABLET____________________________ */
/* ______________________________DESKTOP______________________________ */
@media screen and (min-width: 1280px) {
  .contact {
    padding-bottom: 100px;
    width: 100%;
  }
  .contact-title {
    font-weight: 600;
  }
  .contact-row-container {
    display: inline-flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    height: 556px;
    margin: 0;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .contact-form-container {
    padding: 50px 60px;
    margin: 0;
    width: 50.4%;
    height: 100%;
  }
  .contact-order-form {
    margin: 0;
  }
  .contact-textarea-container {
    height: 90px;
  }
  .contact-image-container {
    width: 46%;
    height: 100%;
    margin: 0;
  }
  .contact-image {
    width: 100%;
    height: 100%;
  }
}

/* ______________________________AND DESKTOP______________________________ */
/* _________________________AND SECTION CONTACT US_______________________ */
