.footer {
    max-width: 375px;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .footer {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        max-width: 1280px;
        padding: 0 65px;
    }
    
}

.footer-container {
    background-color: #0c0c0c;
    color: #fbfbfb;
    border-radius: 30px;
        padding: 40px 28px 28px 28px;
        height: 100%;
        
}

.footer-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 92px;                    /*  ??????? зробити jastify-content: sb  ???????  */
 
}

.footer-top-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;                    /*  ??????? зробити jastify-content: sb  ???????  */
}

.footer-logo {
    font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
}

.footer-socials-list {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 8px;
        width: 34px;
        height: 34px;
}

.footer-socials-item {
        border: 1px solid rgba(251, 251, 251, 0.1);
        border-radius: 10px;
        padding: 8px;
}
.footer-socials-icon {
    fill: #fbfbfb;;
}

.footer-phone {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    width: 152px;
    height: 44px;
    padding: 14px 0;
    font-family: "Gilroy", sans-serif;
    margin-bottom: 40px;
}

.footer-slogan {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        text-align: center;
       
}

.footer-center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 24px;                           /*    ??????? зробити jastify-content: sb  ???????  */
}

.footer-nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px 16px;
    max-width: 147px;
    height: 64px;
    font-family: "Gilroy", sans-serif;              /*    ?????? має прийти з основних стилів ??????    */ 
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    text-align: center;
}

/* .footer-nav-link {
    font-family: "Gilroy", sans-serif;
       
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33333;
        text-align: center;
} */

.footer-address {
    font-family: "Gilroy", sans-serif;              
    font-style: normal;                             
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    text-align: left;
    max-width: 83px;
}

.footer-bottom {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    
}

.footer-bottom::before {
    content: '';
    width: 279px;
    height: 1px;
    background-color: rgba(251, 251, 251, 0.1);
   }

.footer-copyright {
          font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 1.4;
        letter-spacing: -0.02em;
        color: rgba(251, 251, 251, 0.5);
        opacity: 0.9;
        padding-top: 16px;
}

.footer-bottom-link {
    font-weight: 500;
        font-size: 10px;
        line-height: 1.4;
        letter-spacing: -0.02em;
        text-align: right;
        color: rgba(251, 251, 251, 0.5);
        display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            gap: 20px;
            width: 152px;
                height: 14px;
}

@media screen and (min-width: 768px) {
.footer-container {padding: 40px 40px 28px;
} 

.footer-top {
    flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
       row-gap: 86px;
    margin-bottom: 100px;          /*  ??????? зробити jastify-content: sb  ???????  */
}

.footer-top-link {
    margin-bottom: 0;
}

.footer-logo {
font-size: 20px;
}

.footer-socials-list {
    width: 36px;
    height: 36px;
}

.footer-phone {
    font-size: 14px;
    line-height: 1.29;
    width: 152px;
    height: 44px;
    padding: 15px 0;
    margin-bottom: 0;
}

.footer-slogan {
    font-size: 28px;
    line-height: 1.14;
    max-width: 524px;
    margin: 0 auto;
}

.footer-center {
      margin-bottom: 28px;
}

.footer-nav-list {
    flex-wrap: nowrap;
    gap: 19px;
    max-width: 400px;
    height: 18px;
    font-size: 14px;
        line-height: 1.29;
}

.footer-address {
    font-size: 14px;
    line-height: 1.29;
    max-width: 162px;
}

.footer-bottom {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 28px;
      }

.footer-bottom::before {
    content: '';
    width:624px;

}

.footer-copyright {
    font-size: 14px;
        line-height: 1.29;
        padding-top: 0;
        flex-wrap: nowrap;
}


.footer-bottom-link {
font-size: 14px;
line-height: 1.29;
width: 204px;
height: 18px;
}
}