 .hero {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;


 }
.hero-block {
  margin-top: 60px;
}
  .hero-container-text {
    max-width: 335px;
    text-align: center;
  }
  .hero-title {
    font-family: 'Gilroy', sans-serif;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    text-align: left;
  }

  .hero-item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    text-align: left;
    justify-content: center;
    padding-bottom: 28px;
  }
  .hero-title-collection {
    color: #3350e9;
  }
  element.style {
    color: #3350e9;
  }
  .hero-list-img {
    display: flex;
  }
  .hero-list-scroll {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-decoration: underline;
    padding-bottom: 28px;
  }
  .hero-item-img {
  }
  .hero-scroll-text {

    display: flex;
  }
  .hero-img {

  }

/* --------------------------------------------- */
/* ------------------768------------------------ */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .hero {


  }
  .hero-block {
    margin-top: 80px;
    display: flex;
flex-direction: column;

  }
  .hero-container-text {
    width: 557px;
    margin-bottom: 40px;
  }

  .hero-title {
    text-align: left;
    font-weight: 600;
    font-size: 70px;
    line-height: 0.86;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    width: 557px;

  }

  .hero-item-text {
    width: 480px;
    text-align: left;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
  }
  .hero-title-collection {
    color: #3350e9;
  }
  .hero-list-scroll {
    justify-content: space-between;
    padding-left: 11px;
    align-items: flex-end;
    display: inline-flex;
        flex-direction: row;
        gap: 40px;
        align-items: flex-start;
        height: 100%;
  }

  .hero-list-img {
    justify-content: center;
    padding-bottom: 28px;
    display: flex;
  }

  .hero-scroll-text {
    text-align: right;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
  }

  .hero-img {
    width: 100%;
    height: auto;

  }
}
/* ------------------------------- */
/* -----------1280----------------- */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px;
  }
  .hero-block {
    width: 1150px;
    display: flex;
    justify-content: space-between;
  }

  .hero-container-text {
  }

  .hero-title {
    font-weight: 600;
    font-size: 72px;
    line-height: 0.88;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    width: 597px;
    margin-bottom: 20px;
  }

  .hero-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    width: 480px;
    padding-bottom: 40px;
  }
  .hero-title-collection {
    color: #3350e9;
  }

  .hero-list-scroll {
    margin-bottom: 40px;
    justify-content: right;
    align-items: flex-end;
    display: flex;
  }

  .hero-list-img {
    justify-content: right;

    display: flex;
  }

  .hero-scroll-text {
    text-align: right;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }
}
