.hero {
  margin-bottom: 60px;
}
.hero-container-welcome {
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: #fbfbfb;
  margin: auto;
  padding-top: 60px;
}
.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}
.hero-title-collection {
  color: #3350e9;
}
.hero-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  text-align: left;
  justify-content: center;
}
.hero-list-scroll {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
}
.foto-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-foto-img {
  border-radius: 100%;
  border: 2px solid #fbfbfb;
  max-width: 44px;
  max-height: 44px;
  object-fit: cover;
  overflow: hidden;
  box-sizing: border-box;
}
.hero-img {
  margin-left: -12px;
}
.hero-img:first-child {
  margin-left: 0;
}
.hero-scroll-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  transition: color 300ms cubic-bezier(0.2, 0.3, 0, 0.6);
  text-decoration: none;
  text-decoration-skip-ink: none;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  padding-bottom: 4px;
}
.hero-scroll-text:hover,
.hero-scroll-text:focus {
  color: #3350e9;
}
.hero-scroll-text::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #0c0c0c;
  transition: background-color 300ms cubic-bezier(0.2, 0.3, 0, 0.6);
}
.hero-scroll-text:focus::after,
.hero-scroll-text:hover::after {
  background-color: #3350e9;
}
.hero-img-desk {
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: 80px;
  }
  .hero-container-welcome {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 11px;
    padding-top: 80px;
  }
  /* .hero-container {
    display: flex;
    align-items: flex-start;
    gap: 11px;
  } */
  .hero-container-text {
    max-width: 557px;
  }
  .hero-item-text {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.25;
  }
  .hero-list-scroll {
    flex-direction: column;
    gap: 180px;
  }
  .hero-foto-img {
    max-width: 56px;
    max-height: 56px;
  }
  .hero-scroll-text {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.4px;
  }
  .hero-img {
    margin-left: -15px;
  }
  .hero-img:last-child {
    margin-left: -17px;
  }
  .hero-img-desk {
    border-radius: 50px;
  }
  .hero-title {
    font-size: 70px;
    line-height: 0.86;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero-container-welcome {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 407px;
  }
  .hero-container-text {
    max-width: 597px;
  }
  .hero-list-scroll {
    gap: 189px;
  }
  .hero-foto-img {
    max-width: 60px;
    max-height: 60px;
  }
  .hero-img {
    margin-left: -16px;
  }
  .hero-img:last-child {
    margin-left: -18px;
  }
  .hero-title {
    font-size: 72px;
    line-height: 0.87;
  }
  .hero-img-desk {
    max-width: 1150px;
    max-height: 500px;
  }
}