/* ============  mobile ============== */

@media screen and (max-width: 767px) {
  .reviews {
    margin-bottom: 60px;
  }

  .reviews .container {
    margin-bottom: 0;
  }
  .reviews-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
  }
  .reviews-list {
  }
  .reviews-item {
    border-radius: 30px;
    padding: 32px 36px;
    background-color: #f3f3f3;
    width: 100%;
  }
  .reviews-item:nth-child(n + 2) {
    display: none;
  }

  .reviews-item img {
    margin: 0 auto;
  }

  .reviews-human {
    margin-top: 24px;
  }
  .reviews-human-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;
    margin-bottom: 8px;
  }
  .reviews-human-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
  }
}

/* ============  tablet ============== */

@media screen and (min-width: 768px) {
  .reviews {
    margin-bottom: 80px;
  }

  .reviews .container {
    margin-bottom: 0;
  }
  .reviews-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.9;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 40px;
  }
  .reviews-list {
    display: flex;
    gap: 16px;
  }
  .reviews-item {
    border-radius: 30px;
    padding: 32px 36px;
    background-color: #f3f3f3;
    width: 100%;
  }
  @media screen and (max-width: 1279px) {
    .reviews-item:nth-child(n + 3) {
      display: none;
    }
  }

  .reviews-item img {
    margin: 0 auto;
  }

  .reviews-human {
    margin-top: 24px;
  }
  .reviews-human-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;
    margin-bottom: 8px;
  }
  .reviews-human-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
  }
}

/* ============  desktop ============== */

@media screen and (min-width: 1280px) {
  .reviews {
    margin-bottom: 100px;
  }
  .reviews-list {
    gap: 20px;
  }
}
